@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
  text-align: center;
  margin-top: 100px;
}

.card {
  background-color: white;
  width: 300px !important;
  height: 400px;
  text-align: center;
  border-radius: 25px;
  margin: auto;
}

.iconTop {
  text-align: left;
  font-size: 85px;
  padding-left: 15px;
}

.iconBottom {
  text-align: right;
  font-size: 85px;
  padding-right: 15px;
}

.number {
  font-size: 100px;
}

#generateButton {
  margin-top: 25px;
}
